<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Camera Feed</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Enlazamos el archivo CSS -->
    <script src="static/camera.js" defer></script> <!-- Enlazamos el archivo JS -->
</head>
<body>
    <h1>Live Camera Feed from Client</h1>
    <video id="video" autoplay></video>
    <button id="switch-camera" onclick="switchCamera()">Switch Camera</button> <!-- Botón para cambiar la cámara -->
</body>
</html>
