body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
h1 {
    color: #000000;
}
canvas {
    display: block;
    margin: auto;
    border: solid #ccc;
    border-radius: 8px;
    
}

button {
    margin: 10px ;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
