// styles/navbar.scss

// Variables de color
$primary-color: #4CAF50; // Color verde
$secondary-color: #f8f9fa; // Color claro para el fondo
$highlight-color: #007bff; // Color para elementos destacados
$disabled-color: #6c757d; // Color para elementos deshabilitados

// Estilos generales de la barra de navegación
.navbar {
  background-color: $secondary-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;

  .navbar-brand {
    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }

  .navbar-nav {
    .nav-item {
      padding: 0 15px;
      
      .nav-link {
        color: #333;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: $highlight-color;
          text-decoration: none;
        }

        &.active {
          color: $primary-color;
        }

        &.disabled {
          color: $disabled-color;
          pointer-events: none;
        }
      }

      .dropdown-menu {
        background-color: $secondary-color;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .dropdown-item {
          color: #333;
          padding: 10px 20px;
          font-size: 16px;

          &:hover {
            background-color: $highlight-color;
            color: white;
          }

          &:active {
            background-color: $primary-color;
          }
        }

        .dropdown-divider {
          border-top: 1px solid #ddd;
        }
      }
    }
  }

  .form-control {
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ccc;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .btn-outline-success {
    background-color: $primary-color;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 10px;

    &:hover {
      background-color: darken($primary-color, 10%);
      border-color: darken($primary-color, 10%);
    }
  }
}

// Estilos responsivos
@media (max-width: 992px) {
  .navbar {
    .navbar-nav {
      flex-direction: column;
      text-align: center;
      .nav-item {
        padding: 10px 0;
      }
    }
  }
}
