<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartVolley</title>

    <!-- Enlaces a hojas de estilo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='aprendizajeStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbarStyles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <!-- Logo de la aplicación -->
            <a class="navbar-brand" href="/">
                <img src="static/smartVolley64x64.png" alt="SmartVolley">
            </a>
            <a class="navbar-brand fs-1 link-success fw-bold" aria-current="page" href="/">SmartVolley</a>
            
            <!-- Botón para pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Elementos del menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item " href="model">Seguimiento de balon</a></li>
                            <li><a class="dropdown-item active" href="aprendizaje">Videos de aprendizaje</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="demo">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="true" href="contactanos">Contactanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Sección de aprendizaje -->
<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Aprendizaje</h1>
    <p class="text-center fs-5">Explora nuestros videos y tutoriales diseñados para mejorar tus habilidades en voleibol.</p>
    <section id="canalesCarousel" class="text-center">
        <h2>Canales de Interés</h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/canal1-logo.png" class="d-block w-100" alt="Canal 1">
                    <a href="https://youtube.com/@godvolleyball11"target="_blank" class="d-block mt-2 text-decoration-none text-dark">GOD VOLLEYBALL</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal2-logo.png" class="d-block w-100" alt="Canal 2">
                    <a href="https://www.youtube.com/@ElevateYourselfOfficial"target="_blank"  class="d-block mt-2 text-decoration-none text-dark">Elevate Yourself</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal3-logo.png" class="d-block w-100" alt="Canal 3">
                    <a href="https://www.youtube.com/@MauroIsaac22"target="_blank" class="d-block mt-2 text-decoration-none text-dark">Mauro Isaac</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal4-logo.png" class="d-block w-100" alt="Canal 4">
                    <a href="https://www.youtube.com/@volleyballworld"target="_blank" class="d-block mt-2 text-decoration-none text-dark">Volleyball World</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal5-logo.png" class="d-block w-100" alt="Canal 5">
                    <a href="https://www.youtube.com/@powervolleyballofficial"target="_blank" class="d-block mt-2 text-decoration-none text-dark">Power Volleyball</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal6-logo.png" class="d-block w-100" alt="Canal 6">
                    <a href="https://www.youtube.com/@pmevolleyball/videos" target="_blank"class="d-block mt-2 text-decoration-none text-dark">PME Volleyball</a>
                </div>
                <div class="carousel-item">
                    <img src="static/canal7-logo.png" class="d-block w-100" alt="Canal 7">
                    <a href="https://www.youtube.com/@javierzapataa_" target="_blank"class="d-block mt-2 text-decoration-none text-dark">Javier Zapata</a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    
    <!-- Técnicas Básicas -->
    <section id="tecnicas-basicas" class="mt-5">
        <h2 class="text-center mb-4">Técnicas Básicas</h2>
        <div class="row">
            <!-- Video 1 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/caSpHeKErPI" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">¿CÓMO JUGAR VOLEIBOL? TE LO EXPLICO EN 10 MINUTOS</h5>
                        <p class="card-text">Aprende las nociones básicas de este deporte en solo 10 minutos.</p>
                    </div>
                </div>
            </div>
            <!-- Video 2 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/T08dXv9vZqI" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Las zonas, las posiciones y los roles de los jugadores</h5>
                        <p class="card-text">Descubre la estructura y roles de cada jugador en la cancha.</p>
                    </div>
                </div>
            </div>
            <!-- Video 3 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/lqjvzah6O5M" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">VOLEIBOL PARA PRINCIPIANTES: VOLEO</h5>
                        <p class="card-text">Conoce los fundamentos del voleo en el voleibol.</p>
                    </div>
                </div>
            </div>
            <!-- Video 4 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/dVniw94LbAs?si=JPJu_L-tnsOPAiOb" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">VOLEIBOL PARA PRINCIPIANTES: SAQUE</h5>
                        <p class="card-text">Conoce los fundamentos del saque en el voleibol.</p>
                    </div>
                </div>
            </div>
            <!-- Video 5 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/d3mdlB-KgzY?si=79y4JdoNgiWySAbm" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">REGLAS DEL VOLEIBOL  PARA PRINCIPIANTES.</h5>
                        <p class="card-text">ROTACIÓN Y POSICIONES</p>
                    </div>
                </div>
            </div>
            <!-- Video 6 -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <iframe class="card-img-top" src="https://www.youtube.com/embed/kH0O34rUOzU?si=gIP92xKwUiLYvrfH" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">Errores básicos | Voleibol</h5>
                        <p class="card-text">Conoce los errores basicos en este deporte</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Entrenamientos Avanzados -->
<section id="entrenamientos-avanzados" class="mt-5">
    <h2 class="text-center mb-4">Entrenamientos Avanzados</h2>
    <div class="row">
        <!-- Video 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/XAl8_hA4OjU?si=jbgEFkumUl1BsXPC" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Entrenamiento de Defensa en Voleibol</h5>
                </div>
            </div>
        </div>
        <!-- Video 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/mOEZBmCAtZY?si=727l1PosJ7LilCbS" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Ejercicios para entrenar la recepción de saque</h5>
                </div>
            </div>
        </div>
        <!-- Video 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/hpln-K_BhFE?si=cue_pnVATethYcSJ" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Ejercicios para entrenar el golpe de remate/ataque</h5>
                </div>
            </div>
        </div>
        <!-- Video 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/U1VykI_BAmg?si=u_E2io-cLVuZdghd" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Volleyball Speed, Agility, & Vertical Leap Training</h5>
                </div>
            </div>
        </div>
        <!-- Video 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/lzqApWPPMlk?si=8r7sunVuhczpDPK0" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Cómo recibir en voleibol | Masterclass de un jugador profesional</h5>
                </div>
            </div>
        </div>
        <!-- Video 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/AEVJ_w6Y5Yo?si=3mMXCtxgkhj8BLMo" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Lectura Defensiva del Líbero | Movimientos y Tips</h5>
                </div>
            </div>
        </div>
        <!-- Video 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/vh7yIB_nyHs?si=zmtgTE968c5ZLMwm" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Señales del Árbitro en Voleibol | Explicación</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Estrategias de Equipo -->
<section id="estrategias-equipo" class="mt-5">
    <h2 class="text-center mb-4">Estrategias de Equipo</h2>
    <div class="row">
        <!-- Video 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/mZM0TgSlccs?si=pCVxXeG0dN_9D3VU" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">El voleibol. El golpe de ataque. Entrenamiento. Zenit San Petersburgo</h5>
                </div>
            </div>
        </div>
        <!-- Video 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/nhyr_LuAKU8?si=dHrKqqeJg7WHcJqW" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Ataque. Entrenamiento. Zenit San Petersburgo</h5>
                </div>
            </div>
        </div>
        <!-- Video 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/O10a0E6brZ0?si=UynUdSkqvT43HuOF" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Mejores Tácticas de Japón y Polonia | VNL 2024</h5>
                </div>
            </div>
        </div>
        <!-- Video 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <iframe class="card-img-top" src="https://www.youtube.com/embed/2pAyBlsFC5Q?si=mkj_km6VlVllrYni" frameborder="0" allowfullscreen></iframe>
                <div class="card-body">
                    <h5 class="card-title">Tácticas de Voleibol Femenil | Brasil vs Italia VNL</h5>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

    <!-- Pie de página -->
    <footer class="bg-dark text-white text-center py-4">
        <p class="mb-0">© 2024 SmartVolley. Todos los derechos reservados.</p>
        <p>Desarrollado por el equipo SmartVolley.</p>
    </footer>
    <!-- Scripts -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>