<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo volleyball</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Modelo volleyball</h1>
    <video id="video"autoplay style="display:none;"></video>
    <canvas id="canvas"></canvas>
    <button id="change-camera">Cambiar Cámara</button>
    <button id="fullscreenButton">Pantalla completa</button>
    
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
