<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Tracking</title>
</head>
<body>
    <h1>Sube tu video para procesamiento</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="video" id="videoFile" accept="video/mp4, video/*" required>
        <button type="submit" id="submitButton">Procesar Video</button>
    </form>
</body>
</html>
